#galeria {
  width: 80%;
  margin: auto;
  height: 50%;
}

#galeria h3 {
  color: white;
  position: absolute;
  top: 150px;
  font-size: 2rem;
}

#galeria h2 {
  color: white;
  position: absolute;
  margin: auto;
  top: 50px;
  z-index: 1;
  font-size: 2rem;
}

#galeria img {
  width: 200px;
  height: 100px;
  max-height: 200px;
  position: relative;
}

.columnaizq {
  float: left;
  width: 50%;
}

.columnader {
  float: right;
  width: 50%;
}

.ciudad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 6px 3px;
  overflow: hidden;
}
